* {
    background-color: #0F0A0F;
}

body {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    place-items: center;
    height: 100vh;
}

#calcu {
    width: 150px;
    height: 150px;
    background-color: blanchedalmond;
}